version: 2
updates:
  - package-ecosystem: "pip" # See documentation for possible values
    directory: "requirements/" # Location of package manifests
    insecure-external-code-execution: allow
    schedule:
      interval: "weekly"
      day: "sunday"
    labels:
      - "maintenance"
      - "dependencies"
    ignore:
      - dependency-name: "vtk"
      
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
    labels:
      - "maintenance"
      - "CI/CD"
