[flake8]
exclude = venv, src/ansys/dpf/core/operators, __init__.py, docs/build, .venv, src/ansys/dpf/gate, src/ansys/dpf/gatebin, src/ansys/dpf/grpc
select = W191, W391, E115, E117, E122, E124, E125, E301, W291, W293, E225, E231, E303, E501, F401, F403
per-file-ignores =
    __init__.py:F401,F403
count = True
max-complexity = 10
max-line-length = 100
statistics = True