#########################
Python temp files
__pycache__/
/tests/__pycache__
/tests/.pytest_cache
/ansys/dpf/
/ansys/dpf/__pycache__
/.pytest_cache
/.spyproject
/perso

# compiled documentation
docs/build


# emacs tmp files
*~