# python temp files
__pycache__/

# spyder
/.spyproject

# testing
.pytest_cache
.coverage
test-output.xml

# other
/perso

# Documentation
docs/build
docs/source/examples

# pip files
*.egg-info
build/
dist/

# emacs
flycheck*
*~
\#*\#
.\#*

# docker bin
docker/v211

# jupyterlab
.ipynb_checkpoints/