/__pycache__
/.pytest_cache
/.spyproject

#tests
/tests/__pycache__
/tests/.pytest_cache

#ansys/dpf
/ansys/dpf/__pycache__

#ansys/dpf/core
/ansys/dpf/core/__pycache__

#other
/perso
/examples/.ipynb_checkpoints

# compiled documentation
docs/build

# pip files
*.egg-info
build/
dist/

# emacs
flycheck*
*~
\#*\#
.\#*

# docker bin
docker/v211

# pytest -coverage
.coverage
test-output.xml

# jupyterlab
.ipynb_checkpoints/