[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
# Check https://flit.readthedocs.io/en/latest/pyproject_toml.html for all available sections
name = "ansys-dpf-core"
version = "0.8.2.dev0"
description = "Data Processing Framework - Python Core "
readme = "README.md"
requires-python = ">=3.7, <4"
license = {file = "LICENSE"}
authors = [
    {name = "ANSYS, Inc.", email = "pyansys.core@ansys.com"},
]
maintainers = [
    {name = "ANSYS, Inc.", email = "pyansys.core@ansys.com"},
]

classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "ansys-dpf-gate>=0.3.*",
    "importlib-metadata >=4.0",
    "numpy",
    "packaging",
    "psutil",
    "setuptools",
    "tqdm",
]

[project.optional-dependencies]
plotting = [
    # 2D chart plotting
    "matplotlib>=3.2",
    # 3D plotting
    "pyvista>=0.32.0",
    # Animations
    "imageio",
    "imageio-ffmpeg",
]

[tool.flit.module]
name = "ansys.dpf.core"

[project.urls]
Homepage = "https://dpf.docs.pyansys.com/"
Documentation = "https://dpf.docs.pyansys.com/"
Source = "https://github.com/ansys/pydpf-core"
Tracker = "https://github.com/ansys/pydpf-core/issues"

[tool.black]
line-length = 100

[tool.coverage.run]
source = ["ansys.dpf"]

[tool.coverage.report]
show_missing = true
