pypandoc>=1.5.0
matplotlib
vtk<9.1.0
pyvista
imageio>=2.5.0
imageio-ffmpeg
Sphinx
nbsphinx
sphinx-autobuild
sphinxcontrib-napoleon
sphinxcontrib-websupport
sphinx_design
pytest-sphinx
sphinx-notfound-page>=0.3.0
sphinx-copybutton
sphinx-gallery>=0.4.0
pyansys_sphinx_theme
graphviz
