# Ignoring dpf server archives
*.zip

# Ignoring env files
*.env

# Ignoring developer's own scripts
*.own*

# Ignoring compose file as a local configuration file
compose.yaml

# Reapplying example files
!*.example.*