- name: Introduction
  href: index.md
- name: Getting started
  items:
  - name: Installation
    href: getting-started/installation.md
  - name: Licensing
    href: getting-started/licensing.md
  - name: Configuration
    href: getting-started/configuration.md
- name: User guide
  items:
  - name: The server context
    href: user-guide/server-context.md
  - name: How to use data containers
    href: user-guide/using-data-containers.md
  - name: How to use operators
    href: user-guide/using-operators.md
  - name: Workflow examples for beginners
    href: user-guide/workflow-examples.md
- name: Core concepts
  items:
  - name: Available types
    href: core-concepts/dpf-types.md
  - name: Operator fundamentals
    href: core-concepts/operator.md
- name: Operator specifications
  items:
  - name: Operator specifications
    href: operator-specifications/operator-specifications.md
  {% for category in data -%}
  - name: {{ category.category }}
    items:{% for operator in category.operators %}
    - name: {{ operator.operator_name }}
      href: operator-specifications/{{ operator.file_path }}{% endfor %}
  {% endfor %}
- name: Changelog
  href: changelog/changelog-25-r2.md