/* override table no-wrap */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}


html[data-theme="light"] {
  .bd-content .sd-card .sd-card-body, .bd-content .sd-card .sd-card-footer {
    background-color: rgb(255, 255, 255);
  }
}
html[data-theme="dark"] {
  .bd-content .sd-card .sd-card-body, .bd-content .sd-card .sd-card-footer {
    background-color: rgb(0, 0, 0);
  }
}