ansys-sphinx-theme==0.10.3
enum-tools[sphinx]==0.10.0
graphviz==0.20.1
imageio==2.31.1
imageio-ffmpeg==0.4.8
nbsphinx==0.9.2
pypandoc==1.11
pytest-sphinx==0.5.0
pyvista==0.41.1
Sphinx==7.1.2
sphinx-autobuild==2021.3.14
sphinx-copybutton==0.5.2
sphinx-gallery==0.13.0
sphinx-notfound-page==0.8.3
sphinx_design==0.5.0
sphinxcontrib-napoleon==0.7
