ansys-platform-instancemanagement==1.1.2
ansys-tools-common==0.4.0
coverage==7.13.2
graphviz==0.21
imageio==2.37.0
imageio-ffmpeg==0.6.0
jinja2==3.1.6
pypandoc_binary==1.16.2
pytest==9.0.2
pytest-cov==7.0.0
pytest-order==1.3.0
pytest-rerunfailures==16.1
pyvista==0.46.5
vtk==9.4.2
