ansys_sphinx_theme==0.9.9
enum-tools[sphinx]==0.9.0.post1
graphviz==0.20.1
imageio==2.31.0
imageio-ffmpeg==0.4.7
nbsphinx==0.9.1
pypandoc==1.10
pytest-sphinx==0.5.0
pyvista==0.39.1
Sphinx==7.0.0
sphinx-autobuild==2021.3.14
sphinx-autodoc-typehints==1.23.0
sphinx-copybutton==0.5.0
sphinx-gallery==0.13.0
sphinx-notfound-page==0.8.3
sphinxcontrib-napoleon==0.7
sphinxcontrib-websupport==1.2.4
