name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches-ignore:
      - '*no-ci*'
  push:
    branches:
      - master
  workflow_dispatch:
    inputs:
      standalone_branch_suffix:
        description: 'Suffix of the branch on standalone'
        required: true
        default: ''


concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

env:
  PACKAGE_NAME: ansys-dpf-core
  MODULE: core
  ANSYS_VERSION: 232
  extra: "--find-links .github/"

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
    - name: Show the Github context for the triggered event
      run: echo "$GITHUB_CONTEXT"
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}

  style:
    name: "Style Check"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: "Setup Python"
        uses: actions/setup-python@v4.2.0
        with:
          python-version: 3.8

      - name: "Install style requirements"
        run: |
          pip install .[style]

      - name: "Codespell"
        run: |
          make codespell
        continue-on-error: true

      - name: "flake8"
        run: |
          make flake8

  tests:
    uses: ./.github/workflows/tests.yml
    with:
      ANSYS_VERSION: "232"
      python_versions: '["3.8"]'
      wheel: true
      wheelhouse: false
      standalone_suffix: ${{ github.event.inputs.standalone_branch_suffix || '' }}
    secrets: inherit

  docker_tests:
    name: "Build and Test on Docker"
    uses: ./.github/workflows/test_docker.yml
    secrets: inherit

  docs:
    if: startsWith(github.head_ref, 'master') || github.event.action == 'ready_for_review' || !github.event.pull_request.draft
    uses: ./.github/workflows/docs.yml
    with:
      ANSYS_VERSION: "232"
    secrets: inherit

  examples:
    if: startsWith(github.head_ref, 'master') || github.event.action == 'ready_for_review' || !github.event.pull_request.draft
    uses: ./.github/workflows/examples.yml
    with:
      ANSYS_VERSION: "232"
      python_versions: '["3.8"]'
    secrets: inherit

  retro_231:
    name: "retro 231"
    if: startsWith(github.head_ref, 'master') || github.event.action == 'ready_for_review' || !github.event.pull_request.draft
    uses: ./.github/workflows/tests.yml
    with:
      ANSYS_VERSION: "231"
      python_versions: '["3.8"]'
      DOCSTRING: false
    secrets: inherit

  retro_222:
    name: "retro 222"
    if: startsWith(github.head_ref, 'master') || github.event.action == 'ready_for_review' || !github.event.pull_request.draft
    uses: ./.github/workflows/tests.yml
    with:
      ANSYS_VERSION: "222"
      python_versions: '["3.8"]'
      DOCSTRING: false
    secrets: inherit

  retro_221:
    name: "retro 221"
    if: startsWith(github.head_ref, 'master') || github.event.action == 'ready_for_review' || !github.event.pull_request.draft
    uses: ./.github/workflows/tests.yml
    with:
      ANSYS_VERSION: "221"
      python_versions: '["3.8"]'
      DOCSTRING: false
    secrets: inherit

  pydpf-post:
    name: "PyDPF-Post"
    if: startsWith(github.head_ref, 'master') || github.event.action == 'ready_for_review' || !github.event.pull_request.draft
    uses: ./.github/workflows/pydpf-post.yml
    with:
      ANSYS_VERSION: "232"
    secrets: inherit

