name: CI Release

on:
  push:
    tags:
      - "v*"
  schedule:
    - cron: "0 13 * * 0"

#┌───────────── minute (0 - 59)
#│ ┌───────────── hour (0 - 23)
#│ │ ┌───────────── day of the month (1 - 31)
#│ │ │ ┌───────────── month (1 - 12)
#│ │ │ │ ┌───────────── day of the week (0 - 6), 0 being Sunday
#│ │ │ │ │
#│ │ │ │ │
#│ │ │ │ │
#* * * * *

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PACKAGE_NAME: ansys-dpf-core
  MODULE: core
  ANSYS_VERSION: 231
  extra: "--find-links .github/"

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
    - name: Show the Github context for the triggered event
      run: echo "$GITHUB_CONTEXT"
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}

  style:
    name: "Style Check"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: "Setup Python"
        uses: actions/setup-python@v4.2.0
        with:
          python-version: 3.8

      - name: "Install style requirements"
        run: |
          pip install -r requirements/requirements_style.txt --disable-pip-version-check

      - name: "Codespell"
        run: |
          make codespell
        continue-on-error: true

      - name: "flake8"
        run: |
          make flake8

  tests:
    uses: ./.github/workflows/tests.yml
    with:
      ANSYS_VERSION: "231"
      python_versions: '["3.7", "3.8", "3.9", "3.10"]'
      wheel: true
      wheelhouse: true
    secrets: inherit

  docs:
    uses: ./.github/workflows/docs.yml
    with:
      ANSYS_VERSION: "231"
    secrets: inherit

  examples:
    uses: ./.github/workflows/examples.yml
    with:
      ANSYS_VERSION: "231"
      python_versions: '["3.7", "3.8", "3.9", "3.10"]'
    secrets: inherit

  retro_222:
    name: "retro 222"
    uses: ./.github/workflows/tests.yml
    with:
      ANSYS_VERSION: "222"
      python_versions: '["3.8"]'
      DOCSTRING: false
    secrets: inherit

  retro_221:
    name: "retro 221"
    uses: ./.github/workflows/tests.yml
    with:
      ANSYS_VERSION: "221"
      python_versions: '["3.8"]'
      DOCSTRING: false
    secrets: inherit

  pydpf-post_231:
    name: "PyDPF-Post with 231"
    uses: ./.github/workflows/pydpf-post.yml
    with:
      ANSYS_VERSION: "231"
    secrets: inherit

  pydpf-post_222:
    name: "PyDPF-Post with 222"
    uses: ./.github/workflows/pydpf-post.yml
    with:
      ANSYS_VERSION: "222"
    secrets: inherit

  pydpf-post_221:
    name: "PyDPF-Post with 221"
    uses: ./.github/workflows/pydpf-post.yml
    with:
      ANSYS_VERSION: "221"
    secrets: inherit

  gate:
    name: "gate"
    uses: ./.github/workflows/gate.yml
    secrets: inherit

  draft_release:
    name: "Draft Release"
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    needs: [style, tests, docs, examples, retro_222, retro_221, gate, pydpf-post_231, pydpf-post_222, pydpf-post_221]
    runs-on: ubuntu-latest
    steps:
      - name: "Set up Python"
        uses: actions/setup-python@v4.1.0
        with:
          python-version: 3.9

      - name: "Download artifacts"
        uses: actions/download-artifact@v3

      - name: "Display downloaded files"
        run: ls -R

      - name: "Create draft release"
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./**/*.whl
            ./**/*.tar.gz
            ./**/*.zip
          draft: true
          generate_release_notes: true

#      - name: "Upload to Test PyPi"  # Change TOKEN
#        run: |
#          pip install twine
#          twine upload --repository testpypi --skip-existing ./**/*.whl
#          twine upload --repository testpypi --skip-existing ./**/*.tar.gz
#        env:
#          TWINE_USERNAME: __token__
#          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_API_TOKEN }}
