# Check documentation with Vale
name: Documentation Style Check

on:
  workflow_call:
      PR:
        description: "Whether to link Vale report to a PR check."
        required: false
        type: string
        default: 'false'
  workflow_dispatch:
      PR:
        description: "Whether to link Vale report to a PR check."
        required: false
        type: string
        default: 'false'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  docs-style:
    name: Documentation Style Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
  
      - name: Running Vale
        uses: errata-ai/vale-action@reviewdog
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          files: docs
          reporter: ${{ github.event.inputs.PR && 'github-check' || 'local' }}
          level: error
          filter_mode: nofilter
          fail_on_error: true
          vale_flags: "--config=docs/.vale.ini"
