# Check documentation with Vale
name: Documentation Style Check

on:
  workflow_call:
    inputs:
      vale_reporter:
        description: "Vale reporter to use"
        required: false
        type: string
        default: 'local'
  workflow_dispatch:

jobs:
  docs-style:
    name: Documentation Style Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
  
      - name: Running Vale
        uses: errata-ai/vale-action@reviewdog
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          files: docs
          reporter: ${{ inputs.vale_reporter || 'local' }}
          level: error
          filter_mode: added
          fail_on_error: true
          vale_flags: "--config=docs/.vale.ini"
