name: Release

on:
  release:
    types: [published]

env:
  PACKAGE_NAME: ansys-dpf-core
  MODULE: core

jobs:
  Deploy_Documentation:
    name: "Deploy live documentation"
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v3

      - name: "Get the version"
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

      - name: "Download Release Asset - HTML"
        uses: dsaltares/fetch-gh-release-asset@1.0.0
        with:
          file: HTML-doc-${{ env.PACKAGE_NAME }}.zip
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: "Unzip the HMTL documentation"
        uses: montudor/action-zip@v1
        with:
          args: unzip -qq HTML-doc-${{ env.PACKAGE_NAME }}.zip -d HTML-doc-${{ env.PACKAGE_NAME }}

      - name: "Deploy to gh-pages"
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: HTML-doc-${{ env.PACKAGE_NAME }}/
          token: ${{secrets.PYANSYS_CI_BOT_TOKEN}}
          branch: gh-pages
          git-config-name: pyansys-ci-bot
          git-config-email: pyansys.github.bot@ansys.com
          repository-name: pyansys/DPF-Core-docs
          commit-message: Documentation generated for ${{ steps.get_version.outputs.VERSION }}
          clean-exclude: "CNAME"
          tag: doc-${{ steps.get_version.outputs.VERSION }}

  Publish_to_PyPi:
    name: Publish to PyPi
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v3

      - name: "Upload to Public PyPi"
        run: |
          pip install twine
          python setup.py sdist
          twine upload --skip-existing dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}