name: Retro-Compatibility check

on:
  schedule:  # UTC at 0400
    - cron: '0 4 * * *'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  PACKAGE_NAME: ansys-dpf-core
  MODULE: core

jobs:
  Retro_221:
    if: startsWith(github.head_ref, 'master') || contains(github.head_ref, 'retro')
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8"]
        os: [ "windows-latest"]
    env:
      ANSYS_VERSION: 221
    steps:
      - uses: actions/checkout@v3

      - name: "Build Package"
        uses: pyansys/pydpf-actions/build_package@v2.2
        with:
          python-version: ${{ matrix.python-version }}
          ANSYS_VERSION: ${{env.ANSYS_VERSION}}
          PACKAGE_NAME: ${{env.PACKAGE_NAME}}
          MODULE: ${{env.MODULE}}
          dpf-standalone-TOKEN: ${{secrets.DPF_PIPELINE}}
          install_extras: plotting
          wheel: "false"
          wheelhouse: "false"

      - name: "Test Package"
        uses: pyansys/pydpf-actions/test_package@v2.2
        with:
          MODULE: ${{env.MODULE}}
