name: update_operators

on:
# Can be called manually or remotely
  workflow_dispatch:
    inputs:
      ANSYS_VERSION:
        description: "ANSYS version"
        required: false
        type: string
        default: "241"
      standalone_suffix:
        description: "Suffix of the branch on standalone"
        required: false
        type: string
        default: ''

env:
  PACKAGE_NAME: ansys-dpf-core
  MODULE: core
  ANSYSLMD_LICENSE_FILE: 1055@${{ secrets.LICENSE_SERVER }}
  ANSYS_DPF_ACCEPT_LA: Y

jobs:
  update_operators:
    name: "Update operators"
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4.6.0
        with:
          python-version: "3.10"

      - name: "Install DPF"
        id: set-server-path
        uses: ansys/pydpf-actions/install-dpf-server@v2.3
        with:
          dpf-standalone-TOKEN: ${{secrets.DPF_PIPELINE}}
          standalone_suffix: ${{ github.event.inputs.standalone_branch_suffix || '' }}
          ANSYS_VERSION : ${{ github.event.inputs.ANSYS_VERSION || '241' }}

      - name: "Install local package as editable"
        shell: bash
        run: |
          pip install --find-links=.github/ -e .

      - name: "Install requirements_build"
        run: |
          pip install -r requirements/requirements_build.txt

      - name: "List installed packages"
        shell: bash
        run: pip list

      - name: "Generate Operators"
        shell: bash
        working-directory: .ci
        run: |
          python code_generation.py
        timeout-minutes: 5

      - name: "Generate Operators Documentation"
        shell: bash
        working-directory: .ci
        run: |
          python build_operators_doc.py
        timeout-minutes: 5

      - name: "Show changes"
        shell: bash
        run: |
          git status

      - name: "Create Pull Request"
        uses: peter-evans/create-pull-request@v4
        with:
          delete-branch: true
          add-paths: |
            src/ansys/dpf/core/operators/*
            docs/source/_static/dpf_operators.html
          commit-message: update operators
          title: Update Operators for DPF ${{ github.event.inputs.ANSYS_VERSION || '241' }}${{ github.event.inputs.standalone_branch_suffix || '' }} on ${{ github.ref_name }}
          body: An update of operators has been triggered either manually or by an update in the dpf-standalone repository.
          branch: maint/update_operators_for_${{ github.event.inputs.ANSYS_VERSION || '241' }}${{ github.event.inputs.standalone_branch_suffix || '' }}_on_${{ github.ref_name }}
          labels: maintenance

      - name: "Kill all servers"
        uses: ansys/pydpf-actions/kill-dpf-servers@v2.3
        if: always()
